<%= form_for(@zadania_glowne) do |f| %>
  <% if @zadania_glowne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zadania_glowne.errors.count, "error") %> prohibited this zadania_glowne from being saved:</h2>

      <ul>
      <% @zadania_glowne.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
  <%=f.label :poziom_zadania%>
  <%=f.text_field :poziom_zadania%>
</div>
    <div class="field">
  <%=f.label :nr_zadania%>
  <%=f.text_field :nr_zadania%>
</div>
    <div class="field">
  <%=f.label :pkt_za_zadanie%>
  <%=f.text_field :pkt_za_zadanie%>
</div>
    <div class="field">
  <%=f.label :tresc%>
  <%=f.text_field :tresc%>
</div>
    <div class="field">
  <%=f.label :podpowiedz%>
  <%=f.text_field :podpowiedz%>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
