<%= link_to "Mapa świata", student_path(session[:user_id]) %>
<br></br>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>tresc</th>
          <th>przeczytaj</th>
        </tr>
      </thead>
     <%i=1%>
      <tbody>
        <% Wiadomosci.where(student_id: session[:user_id]).each do |tr| %>
          <tr>
            <td><%= i %></td>
            <td><%= tr.temat %></td>
            <td><%= tr.temat %></td>
            <td><%= link_to "czytaj", student_czytaj_path(tr.id) %></td>
          </tr>
          <%i=i+1%>
        <% end %>
      </tbody>
    </table>
