<% if zalogowany_student? %>
    <%= render "student/panel" %>
    <br><%= link_to "Powrót do skrzynki odbiorczej", wiadomoscis_path(session[:user_id]) %>
<%end%>
<p id="notice"><%= notice %></p>
    
<br>temat: <%= Wiadomosci.find_by(id: @wiadomosci.id).temat %></br>
tresc: <%= Wiadomosci.find_by(id: @wiadomosci.id).tresc %>

<% if zalogowany_student? %> 
    <br>
        <%= link_to 'Odpowiedz', new_wiadomosci_path(session[:user_id])%>
   </br>
<% else %>
    <br>
         <%= link_to 'Odpowiedz', new_wiadomosci_path(session[:user_id])%>
    </br>
<% end %>    
    
<br></br>
<%= link_to 'Back', wiadomoscis_path %>
