<h1>Konto#logowanie</h1>
<h1>Sign in</h1>
<%= form_for(:session, url: logowanie_path) do |f|%>
    <%= f.label :login%>
    <%=f.text_field :login%>
    <%=f.label :haslo%>
    <%=f.password_field :haslo%>
    <%=f.submit "Loguj" %>
<%end%>